* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  background-color: #F9F9F9;
  font-family: 'Roboto', sans-serif;
  overflow: overlay;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.button-default {
  border: none;
  padding: 10px 27px;
  border-radius: 1000px;
  font-weight: 600;
}

.button-default-icon {
  border: none;
  border-radius: 1000px;
  font-weight: 600;
  padding: 8px 8px 8px 20px;
  display: flex;
  align-items: center;
  gap: 15px;
}

.button-default-icon .icon {
  padding: 8px;
  background-color: #0B1614;
  border-radius: 100%;
}

.button-default-icon.-green {
  background: #D1F349;
}

#header {
  position: absolute;
  top: 0;
  width: 100%;
}

#header .container {
  display: flex;
  align-items: center;
  padding-top: 31px;
  justify-content: space-between;
}

#header .header-options {
  display: flex;
  gap: 44px;
  align-items: center;
}

#header .header-options li {
  color: #8e9ba2;
  font-size: 16px;
  font-weight: 500;
  line-height: 125%;
  cursor: pointer;
  transition: all .3s ease;
}

#header .header-options .active,
#header .header-options li:hover {
  color: #FFF;
}

#hero {
  padding-top: 106px;
  height: 100vh;
  background-image: url("../img/bg-hero.webp");
  background-repeat: no-repeat;
  background-size: cover;
  color: #FFF;
  font-size: 16px;
  font-weight: 500;
  line-height: 125%;
}

#hero .container {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  align-items: center;
}

#hero h1 {
  padding-top: 40px;
  text-align: center;
  color: #FFF;
  font-size: 59px;
  font-weight: 600;
  line-height: 120%;
  margin-bottom: 30px;
}

#hero p {
  width: 656px;
  text-align: center;
  color: #FFF;
  font-size: 16px;
  font-weight: 400;
  line-height: 120%;
  margin-bottom: 30px;
}

#monitoring {
  padding-block: 100px;
}

#monitoring .container {
  display: flex;
  gap: 41px;
}

#monitoring .container .texts h2 {
  color: #0B1614;
  font-size: 40px;
  font-weight: 600;
  line-height: 120%;
}

#monitoring .container .texts p {
  color: #747A79;
  font-size: 16px;
  font-weight: 400;
  line-height: 144%;
}

#monitoring .card-monitoring-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 24px;
}

#monitoring .card-monitoring-wrapper .card-monitoring {
  width: 282px;
  text-align: center;
  padding-block: 47px;
  border-radius: 15px;
  border: 1.4px solid rgba(11, 22, 20, 0.13);
  transition: all .3s ease;
  cursor: default;
}

#monitoring .card-monitoring-wrapper .card-monitoring.active,
#monitoring .card-monitoring-wrapper .card-monitoring:hover {
  background: #0B1614;
}

#monitoring .card-monitoring-wrapper .card-monitoring p {
  margin-bottom: 0;
  color: #747A79;
  font-size: 20px;
  font-weight: 400;
  line-height: 120%;
}

#monitoring .card-monitoring-wrapper .card-monitoring h3 {
  margin-bottom: 8px;
  color: #A0C50F;
  font-size: 40px;
  font-weight: 600;
  line-height: 120%;
}

#monitoring .card-monitoring-wrapper .card-monitoring.active p,
#monitoring .card-monitoring-wrapper .card-monitoring:hover p {
  color: #FFF;
}

#monitoring .card-monitoring-wrapper .card-monitoring.active h3,
#monitoring .card-monitoring-wrapper .card-monitoring:hover h3 {
  color: #D1F349;
}

#doubts {
  padding-block: 100px;
  background-image: url('../img/plantao-section.webp');
  background-size: cover;
}

#doubts .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#doubts .container h2 {
  color: #FFF;
  text-align: center;
  font-size: 40px;
  font-weight: 600;
  line-height: 120%;
  margin-bottom: 20px;
}

#doubts .container p {
  color: #babdbd;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 120%;
  margin-bottom: 20px;
}

#about-us {
  padding-block: 100px 137px;
}

#about-us .container > div {
  display: flex;
  gap: 73px;
}

#about-us .container > div p {
  color: #747A79;
  font-size: 16px;
  font-weight: 400;
  line-height: 144%;
}

#about-us .container > div h2 {
  color: #0B1614;
  font-size: 40px;
  font-weight: 600;
  line-height: 120%;
}

#about-us .first-block {
  margin-bottom: 100px;
}

#about-us a {
  color: #82A105;
  font-size: 16px;
  font-weight: 400;
  line-height: 144%;
  text-decoration: none;
}

#partner-and-member {
  padding-block: 100px;
}

#partner-and-member .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#partner-and-member h2 {
  color: #0B1614;
  text-align: center;
  font-size: 40px;
  font-weight: 600;
  line-height: 120%;
}

#partner-and-member p {
  color: #747A79;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 144%;
}

#partner-and-member .btn-container {
  border-radius: 12px;
  background: #F4F4F5;
  padding: 4px;
  display: flex;
}

#partner-and-member .btn-container button {
  border: none;
  padding: 7px 20px;
  background-color: none;
  color: #71717A;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  border-radius: 8px;
}


#partner-and-member .btn-container button.active {
  color: #0B1614;
  background: #FFF;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
}

#partner-and-member .logos-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}