* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  background-color: #F9F9F9;
  font-family: 'Roboto', sans-serif;
  overflow: overlay;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

@media (min-width: 576px) {
  .container, .container-sm {
      max-width: 520px;
  }
}

@media (min-width: 768px) {
  .container, .container-md, .container-sm {
      max-width: 710px;
  }
}

@media (min-width: 992px) {
  .container, .container-lg, .container-md, .container-sm {
      max-width: 910px;
  }
}

@media (min-width: 1200px) {
  .container, .container-lg, .container-md, .container-sm, .container-xl {
      max-width: 1100px;
  }
}

@media (min-width: 1400px) {
  .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    max-width: 1200px;
  }
}

@media (min-width: 1600px) {
  .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    max-width: 1440px;
  }
}

.button-default {
  border: none;
  padding: 10px 27px;
  border-radius: 1000px;
  font-weight: 600;
}

.button-default-icon {
  border: none;
  border-radius: 1000px;
  font-weight: 600;
  padding: 8px 8px 8px 20px;
  display: flex;
  align-items: center;
  gap: 15px;
  color: #0B1614;
  font-size: 16px;
}

.button-default-icon .icon {
  padding: 8px;
  background-color: #0B1614;
  border-radius: 100%;
}

.button-default-icon.-green {
  background: #D1F349;
}

#header {
  position: absolute;
  top: 0;
  width: 100%;
}

#header .container {
  display: flex;
  align-items: center;
  padding-top: 31px;
  justify-content: space-between;
}

#header .header-options {
  display: flex;
  gap: 44px;
  align-items: center;
}

#header .header-options li {
  color: #8e9ba2;
  font-size: 16px;
  font-weight: 500;
  line-height: 125%;
  cursor: pointer;
  transition: all .3s ease;
}

#header .header-options .active,
#header .header-options li:hover {
  color: #FFF;
}

#hero {
  padding-top: 106px;
  height: 100vh;
  background-image: url("../img/bg-hero.webp");
  background-repeat: no-repeat;
  background-size: cover;
  color: #FFF;
  font-size: 16px;
  font-weight: 500;
  line-height: 125%;
}

#hero .container {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  align-items: center;
}

#hero h1 {
  padding-top: 40px;
  text-align: center;
  color: #FFF;
  font-size: 59px;
  font-weight: 600;
  line-height: 120%;
  margin-bottom: 30px;
}

#hero p {
  width: 656px;
  text-align: center;
  color: #FFF;
  font-size: 16px;
  font-weight: 400;
  line-height: 120%;
  margin-bottom: 30px;
}

#monitoring {
  padding-block: 100px;
  background-color: #FAFAFA;
}

#monitoring .container {
  display: flex;
  gap: 41px;
}

#monitoring .container .texts h2 {
  color: #0B1614;
  font-size: 40px;
  font-weight: 600;
  line-height: 120%;
  margin-bottom: 20px;
}

#monitoring .container .texts p {
  color: #747A79;
  font-size: 16px;
  font-weight: 400;
  line-height: 144%;
}

#monitoring .card-monitoring-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 24px;
}

#monitoring .card-monitoring-wrapper .card-monitoring {
  width: 282px;
  text-align: center;
  padding-block: 47px;
  border-radius: 15px;
  border: 1.4px solid rgba(11, 22, 20, 0.13);
  transition: all .3s ease;
  cursor: default;
}

#monitoring .card-monitoring-wrapper .card-monitoring.active,
#monitoring .card-monitoring-wrapper .card-monitoring:hover {
  background: #0B1614;
}

#monitoring .card-monitoring-wrapper .card-monitoring p {
  margin-bottom: 0;
  color: #747A79;
  font-size: 20px;
  font-weight: 400;
  line-height: 120%;
}

#monitoring .card-monitoring-wrapper .card-monitoring h3 {
  margin-bottom: 8px;
  color: #A0C50F;
  font-size: 40px;
  font-weight: 600;
  line-height: 120%;
}

#monitoring .card-monitoring-wrapper .card-monitoring.active p,
#monitoring .card-monitoring-wrapper .card-monitoring:hover p {
  color: #FFF;
}

#monitoring .card-monitoring-wrapper .card-monitoring.active h3,
#monitoring .card-monitoring-wrapper .card-monitoring:hover h3 {
  color: #D1F349;
}

#doubts {
  padding-block: 100px;
  background-image: url('../img/plantao-section.webp');
  background-size: cover;
}

#doubts .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#doubts .container h2 {
  color: #FFF;
  text-align: center;
  font-size: 40px;
  font-weight: 600;
  line-height: 120%;
  margin-bottom: 20px;
}

#doubts .container p {
  color: #babdbd;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 120%;
  margin-bottom: 20px;
}

#about-us {
  padding-block: 100px 137px;
}

#about-us .container > div {
  display: flex;
  gap: 73px;
}

#about-us .container > div p {
  color: #747A79;
  font-size: 16px;
  font-weight: 400;
  line-height: 144%;
  margin-bottom: 0;
}

#about-us .container > div h2 {
  color: #0B1614;
  font-size: 40px;
  font-weight: 600;
  line-height: 120%;
  margin-bottom: 20px;
}

#about-us .first-block {
  margin-bottom: 100px;
}

#about-us a {
  color: #82A105;
  font-size: 16px;
  font-weight: 400;
  line-height: 144%;
  text-decoration: none;
}

#partner-and-member {
  padding-block: 100px;
  background: #FAFAFA;
}

#partner-and-member .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#partner-and-member h2 {
  color: #0B1614;
  text-align: center;
  font-size: 40px;
  font-weight: 600;
  line-height: 120%;
  margin-bottom: 20px;
}

#partner-and-member p {
  color: #747A79;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 144%;
  margin-bottom: 40px;
}

#partner-and-member .btn-container {
  border-radius: 12px;
  background: #F4F4F5;
  padding: 4px;
  display: flex;
  margin-bottom: 40px;
}

#partner-and-member .btn-container button {
  border: none;
  padding: 7px 20px;
  background-color: none;
  color: #71717A;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  border-radius: 8px;
}


#partner-and-member .btn-container button.active {
  color: #0B1614;
  background: #FFF;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
}

#partner-and-member .logos-container {
  width: 100%;
}

#partner-and-member .logos {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#contact-us .wrapper {
  display: flex;
}

#contact-us .wrapper .img-fluid {
  width: 48%;
}

#contact-us .wrapper .semi-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 52px;
  background-color: #97BF41;
  flex: 1 1 auto;
}

#contact-us .wrapper .semi-container .content {
  width: 670px;
}

#contact-us .semi-container h2 {
  color: #0B1614;
  font-size: 40px;
  font-weight: 600;
  line-height: 120%;
  margin-bottom: 20px;
}

#contact-us .semi-container p {
  color: #2E3231;
  font-size: 16px;
  font-weight: 400;
  line-height: 144%;
}

#contact-us .semi-container p a {
  color: #025669;
  text-decoration: none;
}

#contact-us .semi-container .first-paragraph {
  margin-bottom: 30px;
}

#contact-us .semi-container .second-paragraph {
  margin-bottom: 62px;
}

#contact-us .semi-container h4 {
  color: #0B1614;
  font-size: 20px;
  font-weight: 500;
  line-height: 120%;
  margin-bottom: 27px;
}

#newsletter .imputed-button {
  display: flex;
  padding: 10px;
  border-radius: 1000px;
  background: #FFF;
}

#newsletter .imputed-button input {
  flex: 1 1 auto;
  padding-left: 10px;
  border: none;
  border-radius: 1000px;
}

#newsletter .imputed-button input:focus-visible {
  outline: none;
}

#newsletter .terms-wrapper {
  margin-top: 15px;
  display: flex;
  align-items: center;
  gap: 8px;
}

.checkbox-container {
  display: inline-block;
  position: relative;
}

input[type="checkbox"] {
  display: none;
}

.checkbox-container label {
  width: 16px;
  height: 16px;
  background-color: #d6ff3e;
  border: none;
  border-radius: 0;
  position: relative;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.checkbox-container label svg {
  visibility: hidden;
}

.checkbox-container input[type="checkbox"]:checked + label svg {
  visibility: visible;
}

.terms-wrapper span {
  color: #2E3231;
  font-size: 16px;
  font-weight: 400;
  line-height: 125%;
  margin-bottom: -2px;
}

#footer {
  padding-block: 100px 37px;
  background: #0B1614;
  color: #b1b4b3;
  font-size: 14px;
  font-weight: 400;
  line-height: 144%;
  margin-bottom: 41px;
}

#footer .texts {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 1px solid #545b5a;
}

#footer .texts img {
  margin-bottom: 29px;
}

#footer .texts p {
  width: 388px;
  text-align: center;
  margin-bottom: 41px;
}

#footer .texts ul {
  display: flex;
  gap: 44px;
  margin-bottom: 52px;
  cursor: pointer;
}

#footer .texts ul li {
  font-weight: 500;
  transition: color .3s ease;
}

#footer .texts ul li.active,
#footer .texts ul li:hover {
  color: #FFF;
}

#footer .copyright {
  display: flex;
  padding-top: 52px;
  justify-content: center;
}

@media (max-width: 1400px) {
  #contact-us .wrapper .semi-container .content {
    width: 520px;
  }
}

@media (max-width: 1200px) {
  .button-default-icon {
    padding: 6px 6px 6px 16px;
    gap: 12px;
    font-size: 14px;
  }

  .button-default-icon .icon {
    padding: 6px;
  }

  #hero h1 {
    padding-top: 30px;
    font-size: 48px;
  }

  #hero p {
    width: 600px;
  }

  #partner-and-member .logos {
    gap: 16px;
    overflow: scroll;
    width: 100%;
  }

  #monitoring .card-monitoring-wrapper .card-monitoring {
    width: 210px;
  }

  #monitoring .card-monitoring-wrapper .card-monitoring h3 {
    font-size: 32px;
  }

  #monitoring .container .texts h2 {
    font-size: 32px;
  }

  #monitoring .card-monitoring-wrapper .card-monitoring p {
    font-size: 18px;
  }

  #doubts .container h2 {
    font-size: 32px;
  }
  
  #about-us {
    padding-block: 80px 100px;
  }

  #about-us .container > div h2 {
    font-size: 32px;
  }

  #about-us .first-block {
    margin-bottom: 80px;
  }

  #about-us .container > div {
    gap: 48px;
  }

  #about-us .container > div img {
    width: 400px;
    height: 358px;
  }

  #partner-and-member {
    padding-block: 80px;
  }

  #partner-and-member h2 {
    font-size: 32px;
  }

  #partner-and-member p {
    margin-bottom: 32px;
  }

  #contact-us .wrapper .semi-container .content {
    width: 440px;
  }

  #contact-us .semi-container h2 {
    font-size: 32px;
    margin-bottom: 16px;
  }

  #contact-us .semi-container .first-paragraph {
    margin-bottom: 16px;
  }

  #contact-us .semi-container .second-paragraph {
    margin-bottom: 32px;
  }

  #contact-us .semi-container h4 {
    font-size: 18px;
    margin-bottom: 22px;
  }

  #contact-us .wrapper .semi-container {
    padding-left: 42px;
  }
}

@media (max-width: 991px) {
  #hero h1 {
    padding-top: 22px;
    font-size: 42px;
  }

  #monitoring .container {
    display: flex;
    gap: 41px;
    flex-direction: column;
  }

  #monitoring .container .texts h2 {
    font-size: 28px;
  }

  #monitoring .card-monitoring-wrapper .card-monitoring {
    width: 330px;
  }

  #monitoring .card-monitoring-wrapper .card-monitoring h3 {
    margin-bottom: 12px;
  }

  #doubts .container h2 {
    font-size: 28px;
  }

  #about-us .first-block .texts {
    order: 1;
  }

  #about-us .first-block img {
    order: 2;
  }

  #about-us .first-block {
    margin-bottom: 48px;
  }

  #about-us .container > div {
    display: flex;
    flex-direction: column;
  }

  #about-us .container > div img {
    width: 100%;
    height: auto;
  }

  #about-us {
    padding-block: 60px 70px;
  }

  #partner-and-member h2 {
    font-size: 28px;
  }

  #contact-us .wrapper {
    flex-direction: column;
    background-color: #97BF41;
  }

  #contact-us .semi-container h2 {
    font-size: 28px;
  }

  #contact-us .wrapper .img-fluid {
    width: 100%;
    height: auto;
    order: 2;
  }

  #contact-us .wrapper .semi-container {
    order: 1;
    width: 100%;
    padding-right: calc(1.5rem * .5);
    padding-left: calc(1.5rem * .5);
    margin-right: auto;
    margin-left: auto;
    max-width: 710px;
    padding-block: 60px;
  }

  #contact-us .wrapper .semi-container .content {
    width: 100%;
  }
}

@media (max-width: 767px) {
  #hero h1 br {
    display: none;
  }

  #hero p {
    width: 420px;
  }

  #monitoring .card-monitoring-wrapper .card-monitoring {
    width: 236px;
  }

  #monitoring {
    padding-block: 80px;
  }

  #contact-us .wrapper .semi-container {
    max-width: 520px;
  }

  #header .header-options {
    display: none;
  }
}

@media (max-width: 527px) {
  #hero h1 {
    padding-top: 0;
    font-size: 38px;
  }

  #hero p {
    width: 100%;
    padding-inline: 32px;
  }

  #monitoring {
    padding-block: 60px;
  }

  #monitoring .card-monitoring-wrapper {
    grid-template-columns: 1fr;
  }

  #monitoring .card-monitoring-wrapper .card-monitoring {
    width: 100%;
    padding-block: 60px;
  }

  #contact-us .semi-container p {
    font-size: 13px;
  }

  #contact-us .semi-container h4 {
    font-size: 16px;
    margin-bottom: 20px;
  }

  #contact-us .semi-container .second-paragraph {
    margin-bottom: 22px;
  }

  #partner-and-member {
    padding-block: 60px;
  }

  .button-default-icon {
    padding: 6px 6px 6px 14px;
    gap: 8px;
    white-space: nowrap;
  }

  .terms-wrapper span {
    font-size: 13px;
  }

  #newsletter .imputed-button input {
    width: 100%;
    flex: auto;
    padding-left: 4px;
  }

  #footer {
    padding-block: 70px 30px;
    margin-bottom: 30px;
  }

  #footer .texts ul {
    gap: 24px 38px;
    margin-bottom: 36px;
    flex-wrap: wrap;
    justify-content: center;
  }

  #footer .copyright {
    padding-top: 36px;
  }

  #footer .copyright span {
    text-align: center;
  }

  #footer .texts p {
    width: 100%;
  }
}
